body{

    margin: 0;  
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(150deg, #12dd0b,rgb(161, 14, 149) );
    height: 100vh;
 
} 
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: rgb(214, 64, 64);
    border-radius: 10px ;
    height: auto;
} 
.formulario h1{
text-align: center;
padding: 0 0 20px 0;
border-bottom: 1px solid rgb(207, 113, 113);
} 
 .formulario form{
    padding: 0 40px ;
    box-sizing: border-box;

 }


.formulario p{

  text-align: center;
padding: 0 0 20px 0;

}
 .imagen-centrada {
        display: block;
        margin: 50px auto;
        max-width: 50%;
        height: auto;
      }